body{
    margin: 0;
    font-family:'Roboto', sans-serif;
    background-color:rgb(37, 36, 36) ;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:auto;
    height: 100%;
    width: 350px;
    text-align: center;
    justify-content: space-between;
    color: white;
    
   
  
}
.class{
    width: 150px;
    height:200px;
    border-radius: 10px;
    
}
.contenedorpelicula{
    margin-bottom: 130px;
    height: 250px;
    width: 150px;
    text-align: center;
    
    
    

}
.title{
   
    width: 150px;
}

.botones{
    display: flex;
    justify-content: center;
    justify-content: space-;
    width: 100%;
    height: 80px;
    background-color: #2C3E50 ;
    position: sticky;
}

.sig{
    margin-left:20px;
   
}
.ant{
    margin-right: 20px;
   
}
button{
    width: 170px;
    height: 60px;
    margin-top:10px;
    border-radius: 20px;
    background-color: #2471A3 ;
    font-size: 15px;
    color: white;
    transition: .5s;
}

button:hover{
    background-color: #194c6e;
}
.mid{
    width: 50px;
    height: 10px;
    background-color: rebeccapurple;
    margin-left: 100px;
}


header{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;

}




@media (min-width:750px){

#contenedor{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:auto;
    height: 100%;
    width: 1200px;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
}

.contenedorpelicula{
    margin-bottom: 130px;
    height: 250px;
    width: 300px;
    justify-content: space-between;
    text-align: center;
    
    

}

.class{
    width: 200px;
    height: 285px;
    border-radius: 10px;
    
}

.botones{
    display: flex;
    justify-content: center;
    justify-content: space-;
    width: 100%;
    height: 80px;
    background-color: #2C3E50 ;
    position: sticky;
}

.sig{
    margin-left:20px;
   
}
.ant{
    margin-right: 20px;
   
}
button{
    width: 170px;
    height: 60px;
    margin-top:10px;
    border-radius: 20px;
    background-color: #2471A3 ;
    font-size: 15px;
    color: white;
    transition: .5s;
}

button:hover{
    background-color: #194c6e;
}

.title{
   
    width: 300px;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
    color: rgb(255, 98, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}
}
